section#home{
  height:70vh;
}
section#mapsection{
  padding-top: 5%;
  height:100vh;
}
section#key{
  height:100vh;
}

#map{
  height: 90vh;
  width:90%;
  margin-left:5%;
  margin-right:5% ;
}

.legend {
  line-height: 18px;
  color: #555;
}

a.leaflet-control-zoomhome-in{
  display: none;
}

a.leaflet-control-zoomhome-out{
  display: none;
}

.info {
  padding: 20px 14px;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h2 {
  font-size: 17px;
  margin: 0 0 5px;
  color: #777;
}


.legend-img{
  margin-bottom: 3px;
}

.square{
  height: 20px;
  width: 20px; 
  display: inline-block;
  transform: translate(0%,25%);
  margin-right: 5px;
}

.green{
  background-color: rgba(0, 255, 0, 0.2);
  border: 2px solid #0f0;
}
.red{
  background-color: rgba(255, 0, 0, 0.2);
  border: 2px solid #f00;
}
.blue{
  background-color: rgba( 0, 0, 255, 0.2);
  border: 2px solid #00f;
}
.brown{
  background-color: rgba( 95, 76, 36, 0.2);
  border: 2px solid #5F4C24;
}

.box{
  margin-bottom: 20px;
  margin-top: 20px;
}

.main-wrapper{
  padding-top:5%
}

#heroImg{
  width: 50%;
  
}
.heroImg{
  text-align: center;
}

#headline{
  padding-left: 20%;
  padding-top: 10%;
}
#subheadline{
  padding-left: 20%;
  margin-bottom: 5%;
}

a#mapButton{
  padding-left: 20%;
}

#mapButton{
  margin-bottom: 20%;
}
.leaflet-container{
  background-color: #cedbec;
}

.footer{
  text-align: center;
  padding: 20px 0px;
}

a#usermanual{
  margin: 20px 0px 20px 70px;
  
}




/* bubbly button */
.button {
  display: inline-block;
  font-size: 1em;
  padding: 0.5em 1em;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #4353ff;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
}
.bubbly-button {
  transition: transform ease-in-out 0.1s, box-shadow ease-in 0.25s, background-color ease-in 0.25s;
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #4353ff 20%, transparent 20%), radial-gradient(circle, transparent 20%, #4353ff 20%, transparent 30%), radial-gradient(circle, #4353ff 20%, transparent 20%), radial-gradient(circle, #4353ff 20%, transparent 20%), radial-gradient(circle, transparent 10%, #4353ff 15%, transparent 20%), radial-gradient(circle, #4353ff 20%, transparent 20%), radial-gradient(circle, #4353ff 20%, transparent 20%), radial-gradient(circle, #4353ff 20%, transparent 20%), radial-gradient(circle, #4353ff 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #4353ff 20%, transparent 20%), radial-gradient(circle, #4353ff 20%, transparent 20%), radial-gradient(circle, transparent 10%, #4353ff 15%, transparent 20%), radial-gradient(circle, #4353ff 20%, transparent 20%), radial-gradient(circle, #4353ff 20%, transparent 20%), radial-gradient(circle, #4353ff 20%, transparent 20%), radial-gradient(circle, #4353ff 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #4353ff;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button:hover {
  background-color: #4353ff;
  box-shadow: 0 2px 25px rgba(119, 152, 234, 0.5);
}
.bubbly-button:hover:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button:hover:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
 }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
 }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
 }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
 }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
 }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
 }
}

#about{
  margin-bottom: 5%;
}

.about{
  margin: 5% 0%;
}


#aboutImg{
  width: 45%;
  text-align: right;
  margin-top: 10%;
}
.aboutImg{
  text-align: center;

}

.footer-img{
  width: 6%;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end !important;
  }
}

@media (max-width: 768px){
  .heroImg{
    text-align: center;
  }
  #headline{
    text-align: center;
    padding-left: 0%;
  }
  .mapButtonContainer{
    text-align: center;
  }
  a#mapButton{
    padding-left: 0%;
  }
  .about{
    margin: 10% 0%;
  }
  .footer-img{
    width: 20%;
  }
  #headline{
    padding-left: 0%;

  }
  #subheadline{
    padding-left: 0%;
  }
  
}




#test{
  width: 50%;
  animation: fill 5.5s ease forwards;
}

#test path:nth-child(2){
  stroke-dasharray: 164;
  stroke-dashoffset: 164;
  animation: line-anim 5s ease forwards;
}
#test path:nth-child(3){
  stroke-dasharray: 168;
  stroke-dashoffset: 168;
  animation: line-anim 5s ease forwards;
}
#test path:nth-child(4){
  stroke-dasharray: 105;
  stroke-dashoffset: 105;
  animation: line-anim 5s ease forwards;
}
#test path:nth-child(5){
  stroke-dasharray: 171;
  stroke-dashoffset: 171;
  animation: line-anim 5s ease forwards ;
}
#test path:nth-child(6){
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  animation: line-anim 5s ease forwards;
}
#test path:nth-child(7){
  stroke-dasharray: 144;
  stroke-dashoffset: 144;
  animation: line-anim 5s ease forwards;
}
#test path:nth-child(8){
  stroke-dasharray: 121;
  stroke-dashoffset: 121;
  animation: line-anim 5s ease forwards;
}
#test path:nth-child(9){
  stroke-dasharray: 159;
  stroke-dashoffset: 159;
  animation: line-anim 5s ease forwards;
}
#test path:nth-child(10){
  stroke-dasharray: 79;
  stroke-dashoffset: 79;
  animation: line-anim 5s ease forwards;
}
#test path:nth-child(11){
  stroke-dasharray: 155;
  stroke-dashoffset: 155;
  animation: line-anim 5s ease forwards;
}
#test path:nth-child(12){
  stroke-dasharray: 144;
  stroke-dashoffset: 144;
  animation: line-anim 5s ease forwards;
}
#test path:nth-child(13){
  stroke-dasharray: 187;
  stroke-dashoffset: 187;
  animation: line-anim 5s ease forwards;
}
#test path:nth-child(14){
  stroke-dasharray: 171;
  stroke-dashoffset: 171;
  animation: line-anim 5s ease forwards;
}

@keyframes line-anim{
  to{
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from{
    fill: transparent;
  }
  to{
    fill: #000 ;
  }

}

#legendTitle{
  font-size: 16px;
  margin-bottom: 15px;
}

.collapseButtonLegend{
  margin-left: 1%;
  color: #00f;
  cursor: pointer;
}

.hide{
  display: none;

}